/*home style sheet*/
body.home{
    background-image: url(../../images/wood2.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
span.title{
    font-size: 60pt;
    color: rgb(255, 255, 255);
    font-family: helvetica;
    text-shadow: black 5px 5px 5px;
}
span.font1{
    color: rgb(255, 255, 255);
    font-size: 16pt;
    font-family: verdana;
    margin-left: 25px;
    margin-right: 25px;
}
span.font2{
    color: rgb(255, 255, 255);
    font-size: 12pt;
    font-family: cursive;
    margin-left: 25px;
    margin-right: 25px;
}
table.table1{
    border: solid rgb(255, 255, 255) 4px;
    border-radius: 10px;
    width: 1400px;
    height: 350px;
    background-color: rgba(100, 148, 237, 0.63);
    padding: 30px;
}
table.table2{
    border: solid rgb(0, 0, 0) 4px;
    border-radius: 10px;
    width: 1400px;
    height: 350px;
    background-color: rgba(20, 73, 172, 0.63);
    padding: 30px;
}
a:link, a:visited {
    background-color: #4d4d4d;
    color: rgba(100, 148, 237, 0.63);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.topnav {
    overflow: hidden;
    border: solid rgb(255, 255, 255) 2px;
    background-color:  #4d4d4d;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%,-50%)
}
.topnav a {
    float: left;
    display: block;
    border: solid white 2px;
    border-radius: 8px;
    color: rgba(100, 148, 237, 0.63);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #666666;
    color: rgba(100, 148, 237, 0.63);
}
/*home style sheet*/
/*fast vs fresh style sheet*/
body.fvf{
    background-image: url(../../images/wood2.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
/*fast vs fresh style sheet*/
/*calorie Calculator style sheet*/
div.bigfont{
    font-family: verdana;
    font-size: 20pt;
}
#calorieNumber{
    font-family: verdana;
    font-size: 40pt;
}
#fries{
    border: black solid 2px;
    width: 250;
    height: 250;
}
#bigmac{
    border: black solid 2px;
    width: 250;
    height: 250;
}
#baconator{
    border: black solid 2px;
    height: 250;
}
#davesdouble{
    border: black solid 2px;
    width: 250;
    height: 250;
}
#frosty{
    border: black solid 2px;
    width: 250;
    height: 250;
}
#spicychicken{
    border: black solid 2px;
    width: 250;
    height: 250;
}
#whopper{
    border: black solid 2px;
    height: 250;
    float: left;
}
#baconking{
    border: black solid 2px;
    height: 250;
    float: right;
}
/*calorie Calculater style sheet*/
/*Vegan Option style sheet*/
section.left{
    border: 3px solid #000000;
    float: left;
    padding: 7px;
}
section.right{
    border: 3px solid #000000;
    float: right;
    padding: 7px;
}
img.place{
    height: 400px;
}
#place1{
    height: 400px;
}
#place2{
    height: 400px;
}
#place3{
    height: 400px;
}
#place4{
    height: 400px;
}
#info{
    size: 32pt;
    color: white;
    font-family: sans-serif;
}
#header{
    color: white;
    font-family: sans-serif;
}
#fact1{
    size: 32pt;
    color: white;
    font-family: sans-serif;
}
#fact2{
    size: 32pt;
    color: white;
    font-family: sans-serif;
}
#fact3{
    size: 32pt;
    color: white;
    font-family: sans-serif;
}
#fact5{
    size: 32pt;
    color: white;
    font-family: sans-serif;
}
/*Vegan Option style sheet*/
/*How To Die style sheet*/
body.die {
    background-image: url(../../images/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img.beer {
    height: 300px;
}
h1.header{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
}
p.explain{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
} 
section.gray{
    border: 3px solid #000000;
    float: right;
    padding: 7px;
    background-color: #a1a1a1;
    position: sticky;
}
section.man{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #889afc;
}
section.made{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #66ff99;
}
section.female{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #ff9494;
}
#drink{
    height: 300px;
}
#sparkling{
    height: 300px;
}
#reject{
    height: 300px;
}
#russia{
    height: 300px;
}
#wine{
    height: 300px;
}
/*How To Die style sheet*/
