/*home style sheet*/
body.home{
    background-image: url("../../images/woodBackground3.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
span.title{
    font-size: 60pt;
    color: rgb(255, 255, 255);
    font-family: helvetica;
    text-shadow: black 5px 5px 5px;
}
span.font1{
    color: rgb(255, 255, 255);
    font-size: 16pt;
    font-family: verdana;
    margin-left: 25px;
    margin-right: 25px;
}
span.font2{
    color: rgb(255, 255, 255);
    font-size: 12pt;
    font-family: cursive;
    margin-left: 25px;
    margin-right: 25px;
}
table.table1{
    border: solid rgb(255, 255, 255) 4px;
    border-radius: 10px;
    width: 1400px;
    height: 350px;
    background-color: rgba(100, 148, 237, 0.63);
    padding: 30px;
}
table.table2{
    border: solid rgb(0, 0, 0) 4px;
    border-radius: 10px;
    width: 1400px;
    height: 350px;
    background-color: rgba(20, 73, 172, 0.63);
    padding: 30px;
}
a:link, a:visited {
    background-color: #4d4d4d;
    color: rgb(170, 30, 30);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.topnav {
    overflow: hidden;
    background-color: 
    #863131;
}
.topnav a {
    float: left;
    display: block;
    color: #b13333;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #888888;
    color: #8f2c2c;
}
/*home style sheet*/
/*fast vs fresh style sheet*/

/*fast vs fresh style sheet*/
/*calorie Calculater style sheet*/
input.calorieNumber{
    font-family: verdana;
    font-size: 14pt;
}
/*calorie Calculater style sheet*/
/*Vegan Option style sheet*/
section.left{
    border: 3px solid #000000;
    float: left;
    padding: 7px;
}
section.right{
    border: 3px solid #000000;
    float: right;
    padding: 7px;
}
img.place{
    height: 400px;
}
/*Vegan Option style sheet*/
/*How To Die style sheet*/
body.die {
    background-image: url(../../images/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img.beer {
    height: 300px;
}
h1.header{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
}
p.explain{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
} 
/*How To Die style sheet*/
