/*Who deleted the other one?*/
body {
    background-image: url(../../images/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img.beer {
    height: 300px;
}
h1.header{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
}
p.explain{
    color:white;
    text-align: center;
    text-shadow: 2px 2px purple;
}
section.right{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #a1a1a1;
}
section.man{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #889afc;
}
section.made{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #66ff99;
}
section.female{
    border: 3px solid #000000;
    float: right;
    padding: 3px;
    background-color: #ff9494;
}